@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    height:100vh;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    margin: 0;
    background-color: #a9d0fc;
}

div{
    position: absolute;
    bottom: 20px;
    background:rbga(0,0,0,0.1);
    padding: 10px 20px;
    font-size: 18px;
}

input{
    width: 50px;
    padding: 5px;
    font-size: 18px;
    background-color: #92b2d6;
    border: none;
    text-align: center;
}